.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background-color: #474580;
  padding: 80px;
  color: white;
  text-align: center;
}
.header h1{
  font-size: 40px;
}
.navbar{
  background: #e7cf9c;
  padding: 10px;
}
.navbar a{
  margin-left: 20px;
  font-size: 20px;
}
.sidebar{
  float: right;
  margin-left: 70px;
  width: 335px;
  padding: 42px;
  background: #cfcfe1;
  height: 400px;
}
.content{ 
  height: 400px;
  padding: 42px;
  float: left;
  width: 50%;
}
.footer{
  background:#e7cf9c;
  padding: 1px; 
}
.footer p{
  font-size: 20px;
  padding-left: 20px;
}
.tododata span,.tododata a{
  margin-right:20px;
  margin-left: 20px;
}
.tododata{
  margin-bottom:10px;
  list-style-type:none
}

.addBtn {
  padding: 10px;
  width: 18%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.todotext input {
  margin: 0;
  
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.todotext
{
  padding-left: 41px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 63px 12px 16px;
}

.confBtn {
  padding: 10px;
  width: 18%;
  background: #d9d9d9;
  color: #555; 
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
ul li input {
  content: '';
  position: absolute; 
  top: 10px;
  left: 16px; 
  height: 26px;
  width: 21px;
}
.selected{
  color:red
}